<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h2 {
            color: #333;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #searchResults {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h2>Bienvenue, <%= user.firstName %>
            <%= user.lastName %>!</h2>
    <a href="/profile">Mettre à jour le profil</a>
    <h2>Tableau de bord</h2>
    <form action="/search" method="post">
        <label for="bedrooms">Nombre de chambres :</label>
        <input type="number" id="bedrooms" name="bedrooms" min="1" required><br>

        <label for="minNights">Nuitées minimum :</label>
        <input type="number" id="minNights" name="minNights" min="1" required><br>

        <label for="maxNights">Nuitées maximales :</label>
        <input type="number" id="maxNights" name="maxNights" min="1" required><br>

        <button type="submit">Voir les disponibilités</button>
    </form>
</body>

</html>